calculate_MOS.py
dct_coefficients_matrix_subset.png
dct_coefficients_matrix.png
__pycache__/dct_functions.cpython-312.pyc
__pycache__/frame_calcs.cpython-312.pyc
__pycache__/helper_functions.cpython-312.pyc
__pycache__/read_video.cpython-312.pyc
__pycache__/vector_quantization_functions.cpython-312.pyc
__pycache__/visualize_video.cpython-312.pyc
convergence_plots/run1/convergence_0.png
convergence_plots/run1/convergence_1.png
convergence_plots/run1/convergence_2.png
convergence_plots/run1/convergence_3.png
convergence_plots/run1/convergence_4.png
convergence_plots/run1/convergence_5.png
convergence_plots/run1/convergence_6.png
convergence_plots/run1/convergence_7.png
convergence_plots/run2/convergence_0.png
convergence_plots/run2/convergence_1.png
convergence_plots/run2/convergence_2.png
convergence_plots/run2/convergence_3.png
convergence_plots/run2/convergence_4.png
convergence_plots/run2/convergence_5.png
convergence_plots/run2/convergence_6.png
convergence_plots/run2/convergence_7.png
experiments/dct/cat.png_BLOCK8_COEFFS1_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS1_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS2_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS2_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS4_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS4_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS8_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS8_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS16_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS16_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS32_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS32_dct_reconstruction.png
experiments/dct/cat.png_BLOCK8_COEFFS64_dct_plot.png
experiments/dct/cat.png_BLOCK8_COEFFS64_dct_reconstruction.png
experiments/dct/MOS_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS1_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS1_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS2_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS2_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS4_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS4_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS8_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS8_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS16_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS16_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS32_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS32_dct_reconstruction.png
experiments/dct/pool.png_BLOCK8_COEFFS64_dct_plot.png
experiments/dct/pool.png_BLOCK8_COEFFS64_dct_reconstruction.png
experiments/dct/psnr_plot.png
experiments/dct/ssim_plot.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING2_LEVELS128_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_vector_quantization_results.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.0001_vector_quantization_results_load_codebook.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.01_vector_quantization_load_codebook_results.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.0001_vector_quantization_results_load_codebook.png
experiments/vector_quantization/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.0001_vector_quantization_results.txt
experiments/vector_quantization/codebooks/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results_codebook.txt
experiments/vector_quantization/codebooks/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results_codebook.txt
experiments/vector_quantization/codebooks/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_vector_quantization_results_codebook.txt
experiments/vector_quantization/codebooks/cat.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.0001_vector_quantization_results_codebook.txt
experiments/vector_quantization/codebooks/pool.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.0001_vector_quantization_results_codebook.txt
experiments/vector_quantization/codebooks/pool.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.0001_vector_quantization_results_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING1_LEVELS256_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING5_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING5_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING5_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING5_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING8_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING8_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING8_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING8_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_codebook.txt
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_reconstruction.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_results.png
experiments/vector_quantization/unique_vectors/cat.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization.txt
experiments/vector_quantization/unique_vectors/pool.png_BLOCK4_NTRAINING10_LEVELS128_THRESHOLD0.001_unique_vector_quantization_load_codebook_reconstruction.png
experiments/vector_quantization/unique_vectors/pool.png_BLOCK4_NTRAINING10_LEVELS256_THRESHOLD0.001_unique_vector_quantization_load_codebook_reconstruction.png
